nav{
	overflow: hidden;
}

.nav-wrapper{
	overflow: hidden;
}

.brand-logo, .img-logo {
	margin-left: 16px;
}

.img-logo {
	vertical-align: middle;
}

.main{
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: 16px;
}

.card-panel{
	width: 100vw;
	margin-left: -28px;
	font-style: normal;
	overflow: hidden;
	margin-top: 25px;
	padding-bottom: 50px;
}