/* Fuente para íconos: FontAwesome */
@font-face{
    font-family: "FontAwesome";
    src: url("../resources/fonts/fontawesome.ttf");
}

/* Fuente para texto: Scada-Regular */
@font-face{
    font-family: "Scada";
    src: url("../resources/fonts/Scada-Regular.ttf");
}

/* Iconos de header y herramientas: */
.fa-bars,
.fa-close,
.fa-user,
.fa-lock,
.fa-plus-circle,
.fa-edit,
.herramientas > .box-info > .fa-info-circle,
.fa-trash,
.fa-th,
.fa-sort-alpha-asc,
.fa-clock-o,
.fa-search{
    font-family: "FontAwesome";
    font-style: normal;
    font-size: 20px;
}


body{    
    font-size: 25px;
    font-family: 'Scada', sans-serif;
    
    position: relative;
}



/*** HEADER ***/

header{
    width: 100%;
    height: 60px;
    background: #002840;
    
    /* Mantenemos header visible: */
    position: fixed;
    z-index: 999;
    
}

header h1{
    display: inline-block;
    
    width: 30%;
    min-width: 200px; /* Anchura mínima */
    height: 60px;
    
    font-size: 25px;
    
    margin: 0;
    
    line-height: 57px; /* Centra verticalmente */
    
    position: relative;
    left: 6%;   
}

/* Da estilo a los enlaces del h1: */
header h1 > * {
    display: inline-block;
    
    text-decoration: none;
    
    color: #FFF;
    
    vertical-align: middle;
    
    margin: 0px 0px;
}
    
header h1 figure{
    width: 40px;
    height: 40px;
    
    margin: 0;
}
    
header h1 figure img{
    width: 100%;
}

/* Icono hamburguesa y cerrar: */
.inOutMovil{
    width: 25px;
    height: 25px;
    
    text-align: center;
    
    color: #FFF;
    
    cursor: pointer;
    
    position: relative;
    left: 89%;

}

/* Menu hamburguesa: */
#verMenu{
    position: relative;
    top: -45px;
}

/* Menu desplegable: */
#cardMenu{
    display: none;
    
    width: 100%;
    height: 300px;
    
    background: #002840;
   
    border-top: 15px solid #002840;
    
    position: relative;
    top: -85px;
    
    transition-duration: 0.3s;
}

/* Línea divide menu del header: */
header nav ul{
    height: 253px;
    
    border-top: 2px solid #E8940C;
    
    position: relative;
    top: -5px;
}

header nav ul li{
    text-align: center;
    
    list-style: none;
    
    line-height: 60px;
    
    margin-left: -40px;
    padding: 1.6px;
    
    transition-duration: 0.3s;
}

header nav ul li a{
    text-decoration: none;
    
    color: #FFF;
    
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 25px;
    padding-right: 25px;
    
}

/* Fondo de menu opaco: */
header nav ul li:hover{
    background: hsla(203, 100%, 100%, 0.2);  
}



/*** FORMULARIO ***/

.contenedor{
    display: inline-block; /* Evita que el header se descuadre */
    
    /*max-width: 875px;*/
    max-width: 675px;
    width: 90%;
    
    overflow: hidden;
    
    /* Centrar */
    position: relative;
    left: 50%;
    top: 250px;
    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    transition-duration: 0.3s;

}

.titulo{
    color: #474747;
    
    font-size: 25px;
    
    text-align: center;
    
    margin: auto;
    
    transition-duration: 0.3s;
}

.border{
    border: none;
    border-top: 5px solid #E8940C;
    
    margin-bottom: 3px;
    
    background: none;
    color: none;
    
    transition-duration: 0.3s;
}

.formulario{
    background: #002840;
    
    height: 124px;
    
    padding: 30px;
    margin-bottom: 30px;
    
    font-size: 18px;
    
    transition-duration: 0.3s;
}

.formulario .form-group{
    width: 100%;
    
    margin-bottom: 10px;
    
    transition-duration: 0.3s;
}

.formulario input[type="text"],
.formulario input[type="password"]{
    height: 35px;
    max-height: 34px;
    
    font-family: 'Scada', sans-serif;
    
    vertical-align: top;
    
    text-indent: 10px;
    
    border: none;
    
    margin-left: 10px;
}

.formulario .icono{
    display: inline-block;
    
    width: 35px;
    max-height: 35px;
    
    line-height: 35px;
    
    text-align: center;
    
    background: #595959;
    color: #FFF;
    
    vertical-align: top;
}

.formulario .icono .izquierda{
    margin-right: 4px;
}

.formulario .usuario,
.formulario .password{
    width: calc(100% - 52px);
}

.formulario .error ul li{
    margin-bottom: 10px;
}

.formulario .password-btn{
    display: inline-block;
    
    width: 115px;
    height: 35px;
    border: none;
    
    text-align: center;
    justify-content: flex-end;
    font-weight: bold;
   
    background: #FF0D3E;
    color: #FFF;
    
    cursor: pointer;
    
    position: absolute; /*relative*/
    left: calc(100% - 152px); /* -120px*/
    
    transition-duration: 0.3s;
}

.password-btn{
    width: calc(100% - 200px);
}

.password-btn:hover{
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.9);
}


/*** MODULOS INICIO ***/

/* Iconos de Inicio, Reportes y Configuración: */
.fa-list,
.fa-windows,
.fa-database,
.fa-folder-open,
.fa-archive,
.fa-desktop,
.fa-keyboard-o,
.fa-cube,
.fa-angle-double-right,
.fa-cubes,
.fa-id-card,
.fa-suitcase,
.fa-file-text,
.fa-group,
.fa-info-circle{
    font-family: "FontAwesome";
    font-style: normal;
    font-size: 60px;
}

.modulos{
    margin-left: 10px;
    margin-right: 15px;
    
    text-align: center;
    
    position: relative;
    top: 110px;
}

.modulo{
    display: inline-block;
    
    width: 90%;
    max-width: 308px;
    height: 200px;
    
    /* Lo agregué... */
    overflow: hidden;
    
    border-radius: 2px;
    
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    
    position: relative;
    
    top: 0;
    
    /* Cambiar margenes en el responsive para alinearlo */
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 50px;
    
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.modulo:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.mod-icono{
    width: 100%;
    height: 65px;
    
    position: absolute;
    top: 75px;
    left: 50%;
    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.mod-titulo{
    height: 50px;
    
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
    
    position: relative;
    bottom: -134px;
    
    transition-duration: 0.3s;
}

/* Muestra descripciones: */
.mod-titulo > a{
    display: none;

    font-size: 14px;
    text-align: left;
    text-decoration: none;
    
    line-height: 14px;
    
    padding: 10px;
    
    color: #1C1C1C;
}

.mod-titulo:hover{
    height: 250px;
    
    padding-bottom: 80px;
    
    transform: translateY(-200px);
    -webkit-transform: translateY(-200px);
}

.mod-titulo:hover > a{
    display: block;
    
    height: 200px;
}


/* Color descripciones: */
.mod-movimientos > h3 > a,
.mod-personal > h3 > a,
.mod-centros > h3 > a{
    color: #FFF;
}

.rep-categoria > h3 > a,
.rep-tipo > h3 > a,
.rep-fecha > h3 > a,
.rep-estatus > h3 > a,
.rep-traspasos > h3 > a{
    color: #FFF;
}


/* Color de Módulos de Inicio: */
.mod-categoria > h3{
    background: #FFCA0D;
    color: #1C1C1C;
}

.mod-categoria > .mod-icono{
    color: #FFCA0D;
}

.mod-activos-info > h3{
    background: #E8940C;
    color: #1C1C1C;
}

.mod-activos-info > .mod-icono{
    color: #E8940C;
}

.mod-activos-fis > h3{
    background: #FF771A;
    color: #1C1C1C;
}

.mod-activos-fis > .mod-icono{
    color: #FF771A;
}

.mod-movimientos > h3{
    background: #E83712;
    color: #FFF;
}

.mod-movimientos > .mod-icono{
    color: #E83712;
}

.mod-personal > h3{
    background: #FF0D3E;
    color: #FFF;
}

.mod-personal > .mod-icono{
    color: #FF0D3E;
}

.mod-centros > h3{
    background: #7F001E;
    color: #FFF;
}

.mod-centros > .mod-icono{
    color: #7F001E;
}

/* Color de Módulos Reportes: */
.rep-categoria > h3{
    background: #0078BF;
    color: #FFF;
}

.rep-categoria > .mod-icono{
    color: #0078BF;
}

.rep-tipo > h3{
    background: #00507F;
    color: #FFF;
}

.rep-tipo > .mod-icono{
    color: #00507F;
}

.rep-fecha > h3{
    background: #00A0FF;
    color: #FFF;
}

.rep-fecha > .mod-icono{
    color: #00A0FF;
}

.rep-estatus > h3{
    background: #0090E5;
    color: #FFF;
}

.rep-estatus > .mod-icono{
    color: #0090E5;
}

.rep-traspasos > h3{
    background: #0078BF;
    color: #FFF;
}

.rep-traspasos > .mod-icono{
    color: #0078BF;
}



/* Color de Módulos de Configuración: */
.conf-usuarios > h3{
    background: #FFCA0D;
    color: #1C1C1C;
}

.conf-usuarios > .mod-icono{
    color: #FFCA0D;
}

.conf-acerca-de > h3{
    background: #E8940C;
    color: #1C1C1C;
}

.conf-acerca-de > .mod-icono{
    color: #E8940C;
}



/*** ESTILO INTERNO DE MODULOS ***/

/* Título: */
.contenedor-modulo{
    display: inline-block;
    
    width: 100%;
    
    margin-top: 220px;
    
    color: #1C1C1C;
    
    position: relative;
    bottom: 90px;
}

.titulo-modulo{
    width: 100%;
    height: 50px;
    
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    
    overflow: hidden;
    
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    
    position: fixed;
    top: 60px;
    
    z-index: 10;
    
    transition-duration: 0.3s;
}

.titulo-categoria{
    background: #FFCA0D;
}

.titulo-activos-info{
    background: #E8940C;
}

.titulo-modulo > h3{
    height: 50px;
    
    margin: 0;
    
    position: relative;
}

.titulo-modulo > h3 > i{
    font-size: 16px;
    
    margin-right: 5px;
    
    transition-duration: 0.3s;
}

/* Herramientas superiores: */
.titulo-modulo:after{
    display: none;
}

/* Tabla: */
.contenedor-tabla{
    width: 89%;
    
    border: 2px solid #A5A5A5;
    
    font-size: 16px;
    
    resize: none;
    overflow: auto;
    
    position: relative;
    left: 6%;
    right: 5%;
    
    transition-duration: 0.3s;
}

table{
    width: 100%;
    
    text-align: center;
    
    border-collapse: collapse;
}

th, td{
    border: 1px solid #A5A5A5;
    
    padding: 10px;
}

.tabla-categoria > th {
    background: #FFCA0D;
}

.tabla-activos-info > th{
    background: #E8940C;
}

tr:nth-child(even) {
    background-color: #eee;
}

tr:nth-child(odd) {
   background-color:#fff;
}



/* Paginación: */
.paginacion{
    width: 90%;
    
    /* Lo agregué para esconder elementos: */
    height: 80px;
    
    overflow: hidden;
    /**************/
    
    position: relative;
    left: 5%;
    right: 5%;
}

.paginacion ul{
    list-style: none;
}

.paginacion ul li{
    display: inline-block;
    
    margin-right: 10px;
}

.paginacion ul .active a{
    background: #CE7F08;
}

.paginacion ul .disabled{
    text-decoration: none;
    
    background: #C8C8C8;
    color: #FFF;
    
    padding: 10px 20px;
    
    cursor: not-allowed;
}

.paginacion ul li a{
    display: inline-block;
    
    text-decoration: none;
    
    padding: 10px 20px;
    
    background: #424242;
    color: #FFF;
}

.paginacion ul li a:hover{
    text-decoration: none;
    
    background: #3299bb;
}



/* Herramientas: */
.contenedor-herramientas{
    width: 100%;
    height: 70px;
    
    background: #DBDBDB;
    
    text-align: center;
    line-height: 70px;
    
    position: fixed;
    bottom: 0;
    
    transition-duration: 0.3s;
}

.herramientas{
    width: 80%;
    
    position: relative;
    left: 6%;
}

.box-opciones{
    color: #595959;
    
    cursor: pointer;
    
    position: absolute;
    left: 89%;
}

.box{
    display: inline-block;
    
    cursor: pointer;
    
    width: 37px;
    height: 37px;
    
    line-height: 37px;
    
    color: #FFF;
    
    border-radius: 2px;
    
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    
    margin-top: 10px;
    
    position: relative;
    
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.box:hover{
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.box > .texto-herramienta-lateral{
    display: none;
}

.box > .texto-herramienta-superior{
    display: none;
}

/* Colores de herramientas: */
#icon-close{
    display: none;
}

.box-nuevo{
    background: #00507F;
}

.box-modificar{
    background: #0078BF;
}

.box-eliminar{
    background: #FF0000;
}

.box-info,
.box-alfabetico,
.box-fecha,
.box-buscar{
    background: #595959;
}

.buscar{
    display: none;
    
    width: 90%;
    height: 30px;
    
    font-family: 'Scada', sans-serif;
    font-size: 18px;
    
    vertical-align: top;
    
    text-indent: 10px;
    
    border: 1px solid #1C1C1C;
    
    margin: 0;
    
    position: absolute;
    top: -42px;
    left: 0;
    
    transition-duration: 0.3s;
}




/*** CONTENEDOR MODAL ***/

.contenedor-modal {
    display: none;
    
    width: 100%;
    height: 100%;
    
    background: hsla(0, 0%, 11%, 0.5);
    
    z-index: 9999; 
    
    /*overflow: auto; /* Enable scroll if needed */
    overflow-y: hidden;
    
    position: absolute;
    left: 0;
    top: 0;
   
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    -moz-animation-name: fadeIn;
    -moz-animation-duration: 0.4s;
    -ms-animation-name: fadeIn;
    -ms-animation-duration: 0.4s;
    -o-animation-name: fadeIn;
    -o-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

/* Contenedor de Hoja Modal: */
.hoja-modal {
    width: 100%;
    height: 100%;
    
    font-size: 20px;
    
    text-align: center;
    
    border-top: 1px solid #818181;
    
    background-color: #FFF;
    
    overflow: hidden;
    
    position: absolute;
    top: 150px;
    
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    -moz-animation-name: slideIn;
    -moz-animation-duration: 0.4s;
    -ms-animation-name: slideIn;
    -ms-animation-duration: 0.4s;
    -o-animation-name: slideIn;
    -o-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    
    transition-duration: 0.3s;
}

.titulo-modal {
    width: 100%;
    height: 50%;
    
    margin-top: 20px;
}

.titulo-modal:after{
    display: block;
    
    content: '';
    
    width: 90%;
    
    border: 1px solid #1C1C1C;
    
    margin-top: 2px;                
    margin-left: 5%;
    margin-right: 5%;
    
    position: absolute;
}

/* Formulario Nuevo: */
.contenedor-uno{
    width: 100%;
    
    text-align: center;
    
    background: red;
}

.nuevo-formulario{
    display: none;
    
    width: 100%;
    
    color: #595959;
    
    font-size: 16px;
    
    position: absolute;
    top: 65px;
}

.edit-texto-normal,
.texto-cursiva,
.edit-texto-grande{
    width: 90%;
    
    font-family: 'Scada', sans-serif;
    
    margin-left: 5%;
    margin-right: 5%;
    
    transition-duration: 0.3s;
}

.edit-texto-normal,
.edit-texto-grande{
    text-indent: 10px;
    
    border: 1px solid #95989A;
}

.edit-texto-normal{
    height: 30px;
}

.texto-cursiva{
    font-size: 14px;
    font-style: italic;
    
    text-align: right;
    
    margin-top: 10px;
    margin-bottom: 0;
}

.edit-texto-grande{
    height: 160px;
    
    resize: none;
    
    margin-top: 20px;
    
    padding-top: 12px;
}

/* Formulario modificar: */
.modificar-formulario{
    display: none;
    
    width: 100%;
    
    color: #595959;
    
    font-size: 16px;
    
    position: absolute;
    top: 65px;
}

.informacion{
    display: none;
    
    font-size: 16px;
    
    text-align: left;
    
    margin-left: 5%;
    margin-right: 5%;
    
    position: absolute;
    top: 50px;
}

/* Footer Hoja Modal: */
.footer-modal{
    width: 100%;
    height: 70px;
    
    background: #DBDBDB;
    
    text-align: center;
    
    line-height: 31px;
    
    border-top: 1px solid #95989A;
    
    position: fixed;
    left: 0;
    bottom: 0;
}

.btn-cancelar,
.btn-submit{
    display: inline-block;
    
    width: 35%;
    height: 30px;
    
    color: #FFF;
        
    font-family: 'Scada', sans-serif;
    font-size: 16px;
    
    vertical-align: middle;
    
    margin-top: 20px;
    margin-right: 5%;
    margin-left: 5%;
    
    border: none;
    
    cursor: pointer;
    
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn-cancelar{
    background: #E8940C;
}

.btn-submit{
    background: #FF0D3E;
}

.btn-cancelar:hover,
.btn-submit:hover{
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}


/* PopUp Eliminar: */
.contenedor-eliminar{
    display: none;
    
    width: 80%;
    height: 180px;
    
    background: #FFF;
    
    font-size: 16px;
    
    text-align: center;
    
    position: fixed;
    top: 25%;
    left: 10%;
    
    transition-duration: 0.3s;
}

.msj-eliminar{
    width: 80%;
    
    margin-top: 30px;
    
    position: absolute;
    left: 10%;
}

.contenedor-eliminar > .btn-cancelar,
.contenedor-eliminar > .btn-submit{
    font-size: 15px;
    
    line-height: 31px;
    
    position: relative;
    top: 110px;
}



/* Animación deslizar: */
@-webkit-keyframes slideIn {
    from {
        top: 100%; 
        opacity: 0;
    } to {
        top: 150px; 
        opacity: 1;
    }
}

@-moz-keyframes slideIn {
    from {
        top: 100%; 
        opacity: 0;
    } to {
        top: 150px; 
        opacity: 1;
    }
}

@-ms-keyframes slideIn {
    from {
        top: 100%; 
        opacity: 0;
    } to {
        top: 150px; 
        opacity: 1;
    }
}

@-o-keyframes slideIn {
    from {
        top: 100%; 
        opacity: 0;
    } to {
        top: 150px; 
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        top: 100%; 
        opacity: 0;
    } to {
        top: 150px; 
        opacity: 1;
    }
}


/* Animación aparecer: */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}




/*** RESPONSIVE DESIGN ***/

@media screen and (min-width: 480px){
    
    body{
        background: purple;
    }
    
     header nav ul li a{
        text-decoration: none;
        color: #FFF;
         
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 145px;
        padding-right: 145px;
    }
    
    
    /* Herramientas: */
    .box{
        width: 50px;
        height: 50px;

        line-height: 50px;
        
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (min-width: 600px){
    
    body{
        background: red;
    }

    header nav ul li a{
        text-decoration: none;
        color: #FFF;
        
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 205px;
        padding-right: 205px;
    }
    
    
    
    /*** MODULOS INICIO ***/
    .mod-titulo{
        height: 50px;
        
        font-size: 20px;
        line-height: 50px;
        
        position: relative;
        bottom: -130px;
    }
    
    /* Muestra descripción: */
    .mod-titulo > a{
        font-size: 16px;
        
        line-height: 16px;
       
        padding: 20px;
    }
    
    
    /* Tabla: */
    .contenedor-tabla{
        width: 87%;
    }
    
    
    
    /* Contenedor de Hoja Modal: */
    .hoja-modal{
        width: 85%;
        
        border-top: 20px solid #DBDBDB;
        border-left: 20px solid #DBDBDB;
        border-right: 20px solid #DBDBDB;
        
        margin-left: 4%;
    }
    
    
    
    /* Botones Footer Modal: */
    .btn-cancelar,
    .btn-submit{
        width: 35%;
        max-width: 210px;
        height: 35px;
        
        line-height: 35px;
        
        margin-top: 20px;
        margin-left: 2%;
        margin-right: 2%;
    }
    
    
    
    /* PopUp Eliminar: */
    .contenedor-eliminar{
        width: 60%;
        
        font-size: 20px;
        
        border: 10px solid #DBDBDB;
        
        left: calc(20% - 10px);
    }
    
    .contenedor-eliminar > .btn-cancelar,
    .contenedor-eliminar > .btn-submit{
        font-size: 16px;
        
        line-height: 35px;
        
        top: 100px;
    }
    
}

@media screen and (min-width: 767px){
    
    body{
        background: orange;
    }

    header nav ul li a{
        text-decoration: none;
        color: #FFF;
        
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 290px;
        padding-right: 290px;
    }
    
    
    
    /*** FORMULARIO **/
    .contenedor{
        top: 350px;
    }
    
    .titulo{
        font-size: 40px;
    }

    .border{
        margin-bottom: 5px;
        border-top: 10px solid #E8940C;
    }
    
    .formulario{
        height: 170px;
    }
    
    .formulario .form-group{
        width: 100%;
        
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .formulario .password-btn{
        width: 135px;
        
        left: calc(100% - 172px);
        
        transition-duration: 0.3s;
    }
    
    
    
    /*** ESTILO INTERNO DE MODULOS ***/
    .titulo-modulo{
        font-size: 20px;
    }
    
    .titulo-modulo > h3 > i{
        font-size: 20px;

        margin-right: 10px;
    }
    
    /* Herramientas: */
    .box{
        margin-left: 25px;
        margin-right: 25px;
    }
    
    /* Contenedor de Hoja Modal: */
    .hoja-modal{
        margin-left: 5%;
    }
    
    
    /* Formulario Nuevo: */
    .contenedor-uno{
        width: 50%;
    
        text-align: left;
    }
    
    .nuevo-formulario{
        text-align: left;
    }
    
    .edit-texto-normal,
    .texto-cursiva,
    .edit-texto-grande{
        width: 45%;
    }
    
    /* Modificar Formulario: */
    .modificar-formulario{
        text-align: left;
    }
    
}

@media screen and (min-width: 950px){
    
    body{
        background: #FFF;
    }

    /* Menu: */
    header nav{
        display: inline-block;
        
        width: 65%;
        height: 60px;
        
        vertical-align: middle;
        
        position: relative;
        top: -2px;
        right: 6%;
    }
    
    /* Menu hamburguesa y cerrar: */
    header nav #verMenu,
    header nav #ocultaMenu{
        display: none;
    }
    
    /* Menu tarjeta en header: */
    #cardMenu{
        display: block !important;
        
        width: 100%;
        height: 61px;
        
        text-align: right;
        
        position: relative;
        top: -15px;
    }

    /* Línea divide menu del header: */
    header nav ul{
        width: 100%;
        height: 60px;
        
        border-top: 0;
        
        position: relative;
        top: -24px;
    }

    header nav ul li{
        display: inline-block;
        
        text-align: center;
        
        list-style: none;
        
        line-height: 57px;
        
        margin: 0;
        
        position: relative;
    }

    header nav ul li a{
        width: 100%;
        
        text-decoration: none;
        
        color: #FFF;
        
        margin: 0;
        
        padding-left: 10px;
        padding-right: 10px;
        
        position: relative;
    }
    
    /* Título módulo: */
    .titulo-modulo{
        width: 28%;
        
        box-shadow: none;
        
    }
    
    /* Desaparecen iconos de título: */
    /*.titulo-activos-info > h3 > i{
        display: none;
    }*/
    
    /* Contenedor herramientas superiores: */
    .titulo-modulo:after{
        display: block;
        
        width: 232%;
        height: 50px;
        
        content: '';
        
        background: #DBDBDB;
        
        /*box-shadow: 0 1px 3px rgba(0,0,0,0.5);*/
        
        position: absolute;
        top: 0;
        left: 113%;
    }
    
    /* Tabla: */
    .contenedor-tabla{
        width: 64%;
        
        left: 32%;
    }
    
    /* Paginación: */
    .paginacion{
        width: 64%;
        
        left: 32%;
    }
    
    /* Contenedor herramientas laterales: */
    .contenedor-herramientas{
        width: 28%;
        
        padding-bottom: 110%;
        
        position: absolute;
        top: 110px;
    }
    
    .herramientas{
        margin-top: 20px;
        
        position: relative;
    }
    
    .box-opciones{
        display: none;
    }
    
    .box{ 
        width: 90%;
        
        text-align: center;
        
        overflow: hidden;
         
        border-radius: 0;
    }
    
    .box:hover{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    
    .box > i{
        display: none;
    }
    
    /* Herramientas laterales: */
    .box > .texto-herramienta-lateral{
        display: block;
        
        font-family: 'Scada', sans-serif;
        font-size: 20px;
        
        margin: 0;
    }
    
    /* Herramientas superiores: */
    .box-alfabetico,
    .box-fecha,
    .box-buscar{
        width: 10%;
        height: 30px;
        
        font-family: 'Scada', sans-serif;
        font-size: 16px;
        
        z-index: 10;
        
        position: fixed;
        top: 60px;
    }
    
    .box-alfabetico:hover,
    .box-fecha:hover,
    .box-buscar:hover{
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        
        background: #787878;
    }
    
    .box-alfabetico{
        left: 33%;
    }
    
    .box-fecha{
        left: 46%;
    }
    
    .box-buscar{
        left: 59%;
    }
    
    
    .box > .texto-herramienta-superior{
        display: block;
        
        line-height: 30px;
        
        margin: 0;
    }
    
    /* Contenedor modal: */
    .contenedor-modal {
        padding-bottom: 100%;
    }
    
    
    
    
    
    
    
}